# Package downloads
elpa/

# Emacs files
var/
etc/
*~
\#*\#
.#*
eln-cache/
transient/
bookmarks
projects
.org-id-locations
ac-comphist.dat
history
server/
auto-save-list/
tree-sitter/
places
recentf

# Machine-specific settings
custom.el

# Transpiled config.org
config.el

# Compiled elisp
*.elc
